<h2>User info</h2>
<div>
  <%= image_tag user.get_profile_image(100, 100) %>
  <table class="table">
    <tbody class="font-weight-bold">
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to edit_user_path(user.id) do %>
  <button class="btn btn-block btn-outline-secondary mt-5 mb-3">
    <i class="fa-solid fa-user-gear"></i>
  </button>
<% end %>