<div class="container">
  <div class="row no-gutters mt-3 px-4">
    <div class="col-md-3 col-sm-10">
      <%= render 'info', user: @user %>
      <%= render 'books/new', newBook: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'books/list', books: @books %>
    </div>
  </div>
</div>