<div class="container">
  <div class="row justify-content-center">
    <div class="mx-4">
      <h1 class="mt-3 text-black">welcome to <strong><i class="fa-solid fa-book"></i>Bookers</strong> !!</h1>
      <div>
        <p>In <strong><i class="fa-solid fa-book"></i>Bookers</strong>,</p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>
      <div class="mx-auto", style="width: 90%;">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-info btn-block mb-3 " %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success btn-block" %>
      </div>
    </div>
  </div>
</div>